.swiper {
  width: 65%;
  max-width: 300px;
  height: clamp(320px, 410px, 500px);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;
  border-radius: 20px;
  height: 450px;
}
