:root {
  --bg-boton: #00ff95;
  --color-boton: black;
  --bg-body: #08152a;
  --font-size-button: 1.5rem;
  --font-size-titulos: clamp(1.7rem, calc(1.25rem + 2.25vw), 3.95rem);
  --font-size-subTitulos: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.22rem);
  --font-size-parrafos: clamp(1.1rem, calc(1.1rem + 0.65vw), 1.1rem);
  --color-titulos: #85f5f6;
  --color-subTitulos: aliceblue;
  --color-parrafos: aliceblue;
  --color1-border-foto: #00ff95;
  --color2-border-foto: rgba(45, 241, 227, 1);
  --color3-border-foto: #f2317f;
  --font-size-titulosCard: clamp(10px, calc(1rem + 1.25vw), 2rem);
  --font-size-parrafosCard: clamp(5px, calc(1rem + 0.47vw), 1rem);
  --bg-navBar: rgba(34, 33, 33, 0.288);
  --bg-card: #00ff95;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body);
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #85f5f6;
  border-radius: 5px;
}

@font-face {
  font-family: "fuente titulos";
  src: url("./fuentes/Tillana/Tillana-ExtraBold.ttf");
}

@font-face {
  font-family: fuente parrafos;
  src: url("/src/fuentes/Sriracha-Regular.ttf");
}

.contenedor-presentacion,
.contenedor-habilidades,
.contenedor-certificados,
.contenedor-proyectos,
.contenedor-acerca_de_mi,
.contenedor-contactame {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  scroll-snap-align: end;
  gap: 2rem;
}

.contenedor-izquierda,
.contenedor-derecha {
  width: 100%;
}

.titulo {
  font-family: fuente titulos;
  color: var(--color-titulos);
  font-size: var(--font-size-titulos);
  text-align: center;
}

.sub-titulo {
  font-size: var(--font-size-subTitulos);
  font-family: fuente titulos;
  color: var(--color-subTitulos);
  text-align: center;
  font-weight: bold;
}

.parrafo {
  color: var(--color-parrafos);
  font-family: fuente parrafos;
  font-size: var(--font-size-parrafos);
  padding: 5px 15px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.icons a {
  font-size: clamp(1rem, calc(2rem + 1vw), 2rem);
  color: #00ff95;
}

.icon:hover {
  transform: translateY(-10px);
}

.foto {
  background: linear-gradient(#111, #111) padding-box,
    linear-gradient(
        45deg,
        var(--color1-border-foto),
        var(--color2-border-foto),
        var(--color3-border-foto)
      )
      border-box;
  border: 10px solid transparent;
  width: max(160px, 25vw);
  height: max(160px, 25vw);
  margin: auto;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.habilidades,
.certificados {
  display: flex;
  overflow-x: scroll;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 25px;
}

.certificados {
  height: 55vw;
}

.certificados::-webkit-scrollbar, .habilidades::-webkit-scrollbar {
  width: 7px;
}

.certificados::-webkit-scrollbar-thumb, .habilidades::-webkit-scrollbar-thumb {
  background-color: var(--bg-card);
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--bg-card);
  border: rgba(0, 0, 0, 0) solid 2px;
}

.card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: top;
}

.card-body {
  height: 50%;
  border-top: #08152a solid 2px;
}

.card-title {
  color: #08152a;
  font-size: var(--font-size-titulosCard);
  padding: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.card-text {
  font-size: var(--font-size-parrafosCard);
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.801);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-link {
  padding: 10px 10px;
  color: black;
}

.card-body-links {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  height: auto;
  align-items: center;
  margin: 0 10px;
  border-top: rgba(0, 0, 0, 0) solid 2px;
}

.habilidad {
  width: 280px;
  height: 320px;
  text-align: center;
}

.habilidad img {
  height: 150px;
  width: 150px;
  object-fit: fill;
}

.certificado > img {
  box-sizing: content-box;
  border: 3vw outset gold;
  width: clamp(160px, 45vw, 1000px);
  height: 38vw;
  cursor: pointer;
}

.contenedor-medalla {
  position: relative;
}

.medalla {
  position: absolute;
  width: 6vw;
  height: 9vw;
  right: 0px;
  bottom: -4vw;
}

.certificado:hover {
  animation: sacudida 1s;
}

.certificado:hover .medalla {
  animation: caida 2.5s;
}

.contenedor-derecha > a {
  display: block;
  text-align: center;
}

.boton-cv,
.form-input button {
  background-color: var(--bg-boton);
  color: var(--color-boton);
  height: 60px;
  border: none;
  padding: 10px 20px;
  font-size: var(--font-size-button);
  margin: 1rem auto;
  cursor: pointer;
  transition: all .2s;
  font-weight: bold;
}

.form-input input::placeholder, .form-input textarea::placeholder{
  font-size: 1rem;
  padding: 5px;
}

.boton-cv:hover,
.form-input button:hover {
  box-shadow: 1px -1px 26px -1px rgba(0,255,149,0.93);
  -webkit-box-shadow: 1px -1px 26px -1px rgba(0,255,149,0.93);
  -moz-box-shadow: 1px -1px 26px -1px rgba(0,255,149,0.93);
}

@keyframes caida {
  from {
    margin-top: 0;
    transform: translateY(8rem);
    transform: rotate(-10deg);
  }
  to {
    margin-top: 50rem;
    transform: translateY(25rem);
  }
}

@keyframes sacudida {
  30% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.header {
  background-color: transparent;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 15px;
  z-index: 999;
}

.nav {
  width: 275px;
  height: 100%;
  background-color: var(--bg-navBar);
  margin: 0 auto;
  border-radius: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav a {
  color: #00ff95;
}

.nav a span {
  display: block;
  text-align: center;
  text-decoration: none;
}

.formulario-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-input {
  width: 90%;
}

.form-input * {
  width: 100%;
  padding: 6px 12px;
  font-style: italic;
  font-weight: 500;
}

@media (min-width: 992px) {
  .contenedor-presentacion,
  .contenedor-habilidades,
  .contenedor-certificados,
  .contenedor-proyectos,
  .contenedor-acerca_de_mi,
  .contenedor-contactame {
    flex-direction: row;
    gap: 0;
  }

  .contenedor-izquierda,
  .contenedor-derecha {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .certificados {
    display: flex;
    overflow-x: scroll;
    width: clamp(280px, 90%, 1000px);
    height: 32vw;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
  }

  .certificado > img {
    box-sizing: content-box;
    width: clamp(160px, 30vw, 1000px);
    height: 20vw;
  }

  .habilidades {
    height: 50vh;
  }

}



